.button {
    color: white;
    padding: 5px 24px;
    border-radius: 5px;
    border: unset;
}

.disabled {
    background-color: #004D99;
    color: grey;
}

.secondary {
    background-color: #FFFFFF;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.default {
    background-color: #0066CC;
    color: #FFFFFF;
}

.red {
    background-color: #CC1439;

}

.default:hover {
    background-color: #0080FF;
    color: #FFFFFF;
    width: 170px;

}

.red:hover {
    width: 170px;
    background-color: #FF1A47;
}

.secondary:hover {
    width: 170px;
    background-color: #E5F0FA;
}


.default:active {
    width: 150px;
    background-color: #0059B2;
}

.secondary:active {
    width: 150px;
    background-color: #C9E5FF;

}

.red:active {
    width: 150px;
    background-color: #B21232;

}

.button:disabled {
}
